[Unit]
Description=Minecraft Server
After=network.target

[Service]
User={{ubuntu_username}}
Type=simple
SuccessExitStatus=0 1
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory=/home/{{ubuntu_username}}/server
ExecStart=/usr/bin/screen -DmS  mc-%i /usr/bin/java -Xmx{{server_xmx}} -Xms{{server_xms}} -Dcom.mojang.eula.agree=true -jar /home/{{ubuntu_username}}/server/paper_update.jar nogui

ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "say SERVER SHUTTING DOWN. Saving map..."\\015'
ExecStop=/bin/sh -c '/bin/sleep 10'
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "save-all"\\015'
ExecStop=/usr/bin/screen -p 0 -S mc-%i -X eval 'stuff "stop"\\015'

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target